:root {
    --yellow: #FFFBBE;
    --aboutme: #FFFEF2;
    --pink: #FFC2FF;
    --highlights: #FFF2FF;
    --turquoise: #B5FFFC;
    --playground: #EDFFFE;
}

* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

*:-webkit-scrollbar {
    display: none;
}

a, p, h1, h2, h3 {
    color: black;
    text-decoration: none;
}

.hide, .hide-when-mobile {
    display: none;
}

.hide-when-desktop {
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    // background-color: var(--highlights);
}

header {
    width: 100vw;
    height: auto;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.054);
    background-color: white;
    a {
        font-family: 'Sligoil', monospace;
        font-size: 2rem;
        padding: 1rem;
        user-select: none;
    }

    a:hover {
        cursor: pointer;
    }

    #mobileMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;

        #hamburger {
            width: 3rem;
            height: 3rem;
            background-color: black;
        }
    }

    #headerMenu {
        position: absolute;
        background-color: white;
        width: 100vw;
        top: 0;
        transition: 0.25s ease-out;
    }

    #headerMenu.hideheadermenu {
        top: -100%;
    }

    #highlights {
        background-color: var(--pink);
    }

    #aboutme {
        background-color: var(--yellow);
    }

    #playground {
        background-color: var(--turquoise);
    }

    nav, footer {
        display: flex;
        flex-direction: column;
    }

    nav {
        margin-bottom: 4rem;
    }

    #footerIcons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        a img {
            width: 3rem;
        }
    }
}

#main {
    width: 100vw;
    height: 200px;
    z-index: -1;
}

@media screen and (min-width: 1025px) {

 
    .hide-when-desktop {
        display: none;
    }
    
    .hide-when-mobile {
        display: block;
    }

    body {
        display: flex;
        flex-direction: row;
        height: 100vh;
        // overflow: hidden;
    }

    header {
        width: clamp(400px, 30vw, 600px);
        height: 100vh;
        box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.054);
        position: fixed;
        #mobileMenu {
            display: none;
        }

        #headerMenu {
            top: 0 !important;
            position: relative;
            height: 100%;
            width: inherit;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        #highlights {
            background-color: rgba(0, 0, 0, 0);
            display: inline-block;
            position: relative;
            z-index: 10;
        }
        #highlights.activepage {
            background-color: var(--pink);
        }

        #highlights::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 100%;
            bottom: 0;
            left: 0;
            background-color: var(--pink);
            transform-origin: bottom left;
            transition: transform 0.25s ease-out;
            z-index: -1;
        }

        #highlights:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
        
    
        #aboutme {
            background-color: rgba(0, 0, 0, 0);
            display: inline-block;
            position: relative;
            z-index: 10;
        }

        #aboutme.activepage {
            background-color: var(--yellow);
        }

        #aboutme::after {
            content: '';
            width: 100%;
            transform: scaleX(0);
            height: 100%;
            bottom: 0;
            left: 0;
            background-color: var(--yellow);
            transform-origin: bottom left;
            transition: transform 0.25s ease-out;
            position: absolute;
            z-index: -1;
        }

        #aboutme:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    
        #playground {
            background-color: rgba(0, 0, 0, 0);
            display: inline-block;
            position: relative;
            z-index: 10;
        }

        #playground.activepage {
            background-color: var(--turquoise);
        }

        #playground::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 100%;
            bottom: 0;
            left: 0;
            background-color: var(--turquoise);
            transform-origin: bottom left;
            transition: transform 0.25s ease-out;
            z-index: -1;
        }

        #playground:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        nav {
            margin-bottom: 0;
        }
        footer a:hover {
            color: #696969;
        }
    }

    #main {
        max-width: 70vw;
        height: auto;
        margin-left:clamp(400px, 30vw, 600px);
    }
}